<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>
    @Html.Partial("header.cshtml")
    @RenderBody()
  </body>
</html>
