@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
    <p>
        Please enter a sentence and a search word. The program will then tell you how many times the search word appears in the sentence you have entered.
    </p>
</div>

<div class="row">
    <div class="">
        <form class="" action="/results" method="post">
            <label for="user-sentence">Enter your sentence</label>
            <input type="text" name="user-sentence" id="user-sentence">
            <label for="search-word">Enter your search word</label>
            <input type="text" name="search-word" id="search-word">
            <button type="submit" name="button">Submit</button>
        </form>
    </div>
</div>
