@{
  Layout="Shared/_Layout.cshtml";
}


<div class="">
    <h2>Here are your results:</h2>

    <p>
        In your sentence: @Model.GetUserSentence(), the word @Model.GetUserWord appears @Model.GetWordCount.
    </p>
</div>
