@{
  Layout="Shared/_Layout.cshtml";
}


<div class="">
    <h2>Here are your results:</h2>

    <h3>
        In your sentence: <span id="results">@Model.GetUserSentence()</span>, the word <span id="results">@Model.GetUserWord()</span> appears <span id="results">@Model.GetWordCounter()</span> times.
    </h3>
</div>
